<a href="https://colab.research.google.com/github/krypton20/LinearAlgebra_2ndSem/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types

##### A variable is a memory space in a programming language where a value is stored. The value you've stored may change in the future if the specifications change [1].
Meanwhile, data types are used to classify or categorize items of knowledge. It is the helpful kind that indicates which operations on given data are frequently done. Python's programming language relies heavily on the idea of data types. In the Python programming language, there are 6 standard data types that you could classify and each value has its own Python data type [2]. The following standard data types are as follows:

1.) Numeric - integers (whole numbers) , complex numbers and float (decimal numbers)

2.) Boolean - truth values that represent Yes/No

3.) String - enclose characters in quotes

4.) List - series of values ; declared by using brackets

5.) Dictionary - lists of key:value pairs.

6.) Tuple - group of values like a list; defined by parenthesis
          

Furthermore, it is also possible to convert a value to another type since Python is dynamically encoded. Python includes a set of functions that accomplish the same thing [3].

In [ ]:
x = 1
m,a = 5, 20
m

5

In [ ]:
type(x)

int

In [ ]:
y = 3+1j
type(y)

complex

In [ ]:
x = float(x)
type(x)

float

In [ ]:
z= 1.5
type(z)

float

In [ ]:
n = [2, 1, 1.5]
type(n)

list

In [ ]:
s,t,u = "3", '1.0' , 'twenty'
type(u)

str

In [ ]:
s_int = int(s)
s_int

3

## Operations

##### Operators are Python-specific symbols that perform logical computations and mathematical operations on variables and values. The operand is the value on which the operator executes [4].

### Arithmetic

It consists of 7 operators and executes different mathematical operations depending on their function. The Arithmetic Operations uses numeric data types such as integers, float, and complex numbers [5].

* Addition - adding two values; the symbol is a plus sign (+)

* Subtraction - left operand is subtracted from right operand; the symbol is a minus sign (-)

* Multiplication - getting the product of two values; the symbol is an asterisk (*)

* Division - the left operand is divided by the right operand; regardless of the operands, the outcome is always a float number;  the symbol is a single slash (/)

* Floor Division - the right operand divides the left operand, and the answer is rounded up to the closest integer, so the quotient does not contain a decimal point; the symbol is double slash (//)

* Exponentiation - the first operand is raised by the value/power of the second operand; the symbol is double asterisks (**)

* Modulo - it performs the division operation, but it only returns the remainder of the quotient; the symbol is a percentage sign (%)

In [ ]:
a,b,c,d = 20 , -15 , 12 , 100

In [ ]:
### Addition
Sum = b+d
Sum

85

In [ ]:
### Subtraction
Difference = b-a
Difference

-35

In [ ]:
### Multiplication
Product = b*c
Product

-180

In [ ]:
### Division
Quotient = d/a
Quotient

5.0

In [ ]:
### Floor Division
Fq = a//b
Fq

-2

In [ ]:
### Exponentiation
E = a**b
E

3.0517578125e-20

In [ ]:
### Modulo
mod = d%c
mod

4

### Assignment Operations

Python uses assignment operators to allocate values to variables. Following the assignment, the assignment operators return the value of the object provided by the left operand [6].

For instance, z = 20 is a basic assignment operator that allocates the value 20 on the right to the left-hand variable "z."

In Python, there are several compound operators, such as z += 20, which utilizes an increment to increase the value of the variable and then assigns it. The result is z = z + 20.

In [ ]:
G, H, J, K = 0, 100, 2, 2

In [ ]:
G += a
G

2.0

In [ ]:
H -= d
H

132

In [ ]:
J *= 2
J

4

In [ ]:
K **=2
K

4

### Comparators

This operation is commonly used in value comparisons, and it generates a boolean data type that is either True or False, depending on the operators used. It is also used to verify the values of the left and right operands according to the condition [6].

* Equality - it comes from the term itself; if the condition of two operands being equal or having the same value is met, True is returned; otherwise, False is returned; the symbol is two equality signs (==)

* Non-equality - it displays True if both operands are not equal and False if the two operands share the same value or are equal; the symbol is an exclamation mark and an equality sign (!=)

* Inequality - under this are the four operators, namely:

-Greater than - if the left operand is greater than the right operand, True will be displayed, and if not, then it will display False; the symbol is greater than sign (>)

-Less than - if the value of the first operand is less than the second operand, then it will display True, but if not, False will be displayed; the symbol is less than sign (<)

-Greater than or Equal to - when the value of the left operand is greater than or equal to the right operand, then the condition is attained so it will return True, while False is returned if not; the symbol is greater than sign and an equality sign (>=)

-Less than or Equal to - True is returned if the condition is satisfied wherein the left operand is less than or equal to the right operand, otherwise False if not; the symbol is less than or equal to (<=)

In [ ]:
trial_1, trial_2, trial_3 = 20, 2.0, "20"
actual_val = 20.0

In [ ]:
## Equality
trial_3 == actual_val

False

In [ ]:
## Non-equality
trial_3 != actual_val

True

In [ ]:
## Inequality
t1 = trial_1 > trial_2
t2 = trial_1 <trial_2
t3 = trial_1 >= trial_2/2
t4 = trial_1 <= trial_2
t4

False

### Logical

In Python, conditional expressions are expressed using logical operators (either True or False).

The logical operators includes "and", "or", "not" operators. 

![python.PNG]()

In [ ]:
trial_1 == actual_val

True

In [ ]:
trial_1 is actual_val

False

In [ ]:
trial_1 is not actual_val

True

In [ ]:
p, q = True, False
conj = p and q
conj

False

In [ ]:
p, q = True, False
disj = p or q
disj

True

In [ ]:
p, q = True, False
e = not(p and q)
e

True

In [ ]:
p, q = True, False
xor = ( p and q) or (p and not q)
xor

True

### I/O 
It functions by presenting the inputted data through the use of the different codes
* print - the output is the data that has been inputted; an output command
* cnt - it represents count, or it is a counter; the declared value will be used in performing arithmetic operations like addition, subtraction, division, multiplication, and floor division
* f - also used to call out the string, but it uses braces (it follows the format of C++ programming)
* .format - it calls out the variables, so the output will be the inputted data on the variables
* \n- it is the command for entering or next line
* \t - it is the command for tab
* input - this command produces an input field where you can put a text or a value and will return the evaluated result if the input is a valid Python expression

In [ ]:
print ("Hi Future Engineer")

Hi Future Engineer

In [ ]:
cnt = 1

In [ ]:
string = "Hi Future Engineer"
print (string, ", Current run count is:", cnt)
cnt += 2

Hi Future Engineer , Current run count is: 1

In [ ]:
print (f"{string}, Current count is: {cnt}")

Hi Future Engineer, Current count is: 3

In [ ]:
sem_grade = 95.543397
name = "Matthew"
print ("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello Matthew, your semestral grade is: 95.543397

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grade are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

The weights of your semestral grade are:
	30.00% for Prelims
	30.00% for Midterms and
	40.00% for Finals.

In [ ]:
x = input("enter a number: ")
x

enter a number: 7

7

In [ ]:
name = input("Student: ")
pg = input("Enter your prelim grade: ")
mg = input("Enter your midterm grade: ")
fg = input("Enter your final grade: ")
sem_grade = 88.3
print("Hello {}, your semestral grade is: {}". format(name,sem_grade))

Student: Matthew Adrian Z. Moral
Enter your prelim grade: 85
Enter your midterm grade: 88
Enter your final grade: 91
Hello Matthew Adrian Z. Moral, your semestral grade is: 88.3

# Looping Statements

Statements are generally performed successively ; the first expression in a function is processed first, followed by the second, and so on. There may be instances when you need to run a section of code repeated [7].

Programming languages have a variety of control structures that enable the creation of more complex execution routes.

A loop is a statement that comprises commands that are repeated indefinitely until a certain condition is met. When a process must be performed numerous times, loops enable us to eliminate code duplication. By using loops, we may condense those hundred lines of code into a handful [7].

##While

In Python, while loop is used to continually execute a sequence of statements until a specified condition is met. And when the condition is false, the line directly after the loop is run in the algorithm. It conducts a condition check prior to performing the loop body 

Furthermore, while loop is an example of an infinite iteration. The term "indefinite iteration" refers to the fact that the number of times the loop is run is not stated explicitly [8].

In [ ]:
i, j = 100, 1000
while (i<=j):
      print(f"{i}\t|\t{j}")
      i+=50

100	|	1000
150	|	1000
200	|	1000
250	|	1000
300	|	1000
350	|	1000
400	|	1000
450	|	1000
500	|	1000
550	|	1000
600	|	1000
650	|	1000
700	|	1000
750	|	1000
800	|	1000
850	|	1000
900	|	1000
950	|	1000
1000	|	1000

In [11]:
n = 1

while (n<= 10):

       print("Good Morning")
       n += 2

Good Morning
Good Morning
Good Morning
Good Morning
Good Morning

#For

For loops are utilizedwhen a piece of code has to be repeated a certain number of times. The for-loop is never used alone; it is always combined with an iterable object, such as a list or a range. The Python for statement iterates over the elements of a sequence in order, each time executing the block [9].

In simple terms, for loop repeatedly runs a set of statements and simplifies the code that maintains the loop variable.

In [ ]:
for m in range(12):
      print(m)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
 playlist = ["Invisible", "Fix You", "13"]
print('Now Playing:\n')
for song in playlist:
       print(song)

Now Playing:

Invisible
Fix You
13

#Flow Control

The control flow of a program specifies the sequence in which its code is executed.
Conditional statements, loops, and function calls all contribute to the control flow of a Python program. 

Control flow enables the conditional and/or repetitive execution of certain code blocks: these fundamental building blocks may be used to construct astonishingly complex systems. 

However, without it, a program is nothing more than a collection of sequentially executed statements [10].

##Condition Statements

Generally, conditional statements are referred to as decision-making statements. We must utilize these conditional statements to determine whether a certain block of code should be executed if the specified condition is true or false [11]. We can accomplish decision-making in Python by utilizing the following statements:

* **if statements** -  it is of the most frequently utilized conditional expressions in programming languages. It determines whether or not particular statements should be performed. It tests for a specified condition; if the condition is true, the set of code contained inside the " if " block is run; otherwise, the code is not executed [11].

 When a Boolean statementtranslates to TRUE, the if condition testsit and runs the block of code.

* **if-else statements -** The statement directly states that if a certain condition is true, the statements contained inside the "if block" should be executed; if the condition is false, the "else" block should be executed [11].

* **nested if-else statements** - Nested "if-else" statements indicate the presence of a "if" or "if-else" statement within another if or if-else block. Python also has this functionality, which enables us to verify numerous conditions inside a single program [11].

* **elif** - used to verify several conditions only if one of them is false.

In [ ]:
numeral1, numeral2 = 16, 17
if(numeral1 ==numeral2):
  print ("Incomplete")
elif(numeral1>numeral2):
  print ("Fail")
else:
 print("Pass")

Pass

In [ ]:
x = 20
y = 1.0
if(x < y):
     print("x is smaller than y")

In [ ]:
passing_grade_in__the_course = 70
My_final_grade_in_the_course = 85
if(My_final_grade_in_the_course >= passing_grade_in__the_course ):
       print(("Congratulations!! You passed the course"))
else:   
        print("Sorry, you failed the course, better luck next time")

Congratulations!! You passed the course

In [ ]:
num = 20
if(num > 0):
          print("number is positive")
if(num < 10):
          print("number is less than 10")

number is positive

#Functions

A functionis a collection of connected statements that accomplish a certaintask. Functions aid in the decomposition of our program into smaller, modular portions. Additionally, it eliminates duplication and makes the code more reusable [12].

Entering and exiting are the two primary actions of functions that manage flow. When you call a function, the parent flow's execution is suspended. You remain inside the function's flow until it performs a return statement - or until it runs out of things to accomplish. This may be used to break out of almost any loop.

In [22]:
def speak(Name):
    print("Bonjour {}. Happy Birthday!!". format(Name))

speak('Portia')

Bonjour Portia. Happy Birthday!!

In [ ]:
# void DeleteUser(int userid){
#    delete(userid);
# }

def delete_user (userid):
     print("Successfully deleted user: {}". format(userid))

def delete_all_users ():
      print("Successfully deleted all users.")

In [ ]:
userid = "Matthew"
delete_user ("Matthew")
delete_all_users()

Successfully deleted user: Matthew
Successfully deleted all users.

In [ ]:
def multiply(multiplicand1, multiplier2):
    return multiplicand1 * multiplier2

def power_of_base2 (exponent):
    return 2**exponent

In [ ]:
multiplicand1, multiplier2 = 137, 88
multiply(multiplicand1, multiplier2)

12056

# Activity

In [9]:
Student_Name = input("Name_of_Student: ")
Program = input("Program: ")
Course = input("Course: ")
Prelim = float(input("Enter Prelim Grade: "))
Midterm = float(input("Enter Midterm Grade: "))
Finals = float(input("Enter Final Grade: "))
Semestral_Grade = ( Prelim*0.30)+ (Midterm*0.30) + (Finals*0.40);

Rounded_off_SG = "{:.2f}". format(Semestral_Grade)
print( "-------------------------------------------------------------------------------------------------")
print("\nProgram:{}". format(Program))
print("Greetings! {} , we would like to inform you that your semestral grade in {} is: {} ". format(Student_Name, Course, Rounded_off_SG))
if(Semestral_Grade > 70.00) :
     print("\U0001F600\U0001F600\U0001F600")
     print("Congratulations you passed the course !!")
elif(Semestral_Grade == 70.00) :
    print ("\U0001F606\U0001F606\U0001F606")
    print("Congratulations you luckily passed the course !!")
else:
    print("\U0001F62D\U0001F62D\U0001F62D")
    print("We regret to hear that you failed this subject")

Name_of_Student: Mr. Ryan Eric V. Ocampo
Program: BS Chemical Engineering
Course: Linear Algebra
Enter Prelim Grade: 64.94
Enter Midterm Grade: 70.12
Enter Final Grade: 67.81
-------------------------------------------------------------------------------------------------

Program:BS Chemical Engineering
Greetings! Mr. Ryan Eric V. Ocampo , we would like to inform you that your semestral grade in Linear Algebra is: 67.64

We regret to hear that you failed this subject

#References:

[1] Variables and data types in Python: Python for beginners, Edureka, 15-Jul-2021. [Online]. Available: https://www.edureka.co/blog/variables-and-data-types-in-python/. [Accessed: 17-Feb-2022].


[2] Data types in python: 6 standard data types in python, Analytics Vidhya, 05-Aug-2021. [Online]. Available: https://www.analyticsvidhya.com/blog/2021/08/data-types-in-python-you-need-to-know-at-the-beginning-of-your-data-science-journey/. [Accessed: 17-Feb-2022].


[3] Type conversion in Python, GeeksforGeeks, 28-Sep-2021. [Online]. Available: https://www.geeksforgeeks.org/type-conversion-python/. [Accessed: 17-Feb-2022].


[4] Python operators, Programiz. [Online]. Available: https://www.programiz.com/python-programming/operators. [Accessed: 17-Feb-2022].


[5] Python operators, GeeksforGeeks, 07-Sep-2021. [Online]. Available: https://www.geeksforgeeks.org/python-operators/. [Accessed: 17-Feb-2022].


[6] Python operators, Programiz. [Online]. Available: https://www.programiz.com/python-programming/operators. [Accessed: 18-Feb-2022].


[7] Python - loops. [Online]. Available: https://www.tutorialspoint.com/python/python_loops.htm. [Accessed: 18-Feb-2022].


[8] Python while loop, GeeksforGeeks, 25-Aug-2021. [Online]. Available: https://www.geeksforgeeks.org/python-while-loop/. [Accessed: 18-Feb-2022].


[9] Page, ForLoop - Python Wiki. [Online]. Available: https://wiki.python.org/moin/ForLoop. [Accessed: 18-Feb-2022].


[10] J. VanderPlas, Control flow, Control Flow | A Whirlwind Tour of Python. [Online]. Available: https://jakevdp.github.io/WhirlwindTourOfPython/07-control-flow-statements.html. [Accessed: 18-Feb-2022].


[11] Python conditional statements: If_else, ELIF, nested if statement, Software Testing Help, 03-Feb-2022. [Online]. Available: https://www.softwaretestinghelp.com/python/python-conditional-statements/. [Accessed: 18-Feb-2022].


[12] Python functions, Programiz. [Online]. Available: https://www.programiz.com/python-programming/function. [Accessed: 19-Feb-2022].


[13] Python - if, else, elif conditions (with examples), Python - if, else, elif conditions (With Examples). [Online]. Available: https://www.tutorialsteacher.com/pythonpython-if-elif#:~:text=Use%20the%20elif%20condition%20is,the%20if%20and%20else%20conditions.&text=The%20elif%20block%20is%20executed%20if%20the%20specified%20condition%20evaluates%20to%20True%20.&text=If%20multiple%20elif%20conditions%20become,elif%20block%20will%20be%20executed. [Accessed: 19-Feb-2022].


[14] Python input, output and import, Programiz. [Online]. Available: https://www.programiz.com/python-programming/input-output-import. [Accessed: 19-Feb-2022].


[15] Python - files I/O. [Online]. Available: https://www.tutorialspoint.com/python/python_files_io.htm. [Accessed: 19-Feb-2022].